.primary-darkest { background: #E65100 }
.primary-dark { background: #F57C00; }
.primary { background: #FF9800; }
.primary-light { background: #FFE0B2; }
.primary-text { color: #212121; }
.secondary-text { color: #727272; }
.accent-color { background: #536DFE; }
.divider-color { border-color: #B6B6B6; }

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.standard-cursor {
  cursor: default !important;
}
.pointer-cursor {
  cursor: pointer !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
}

body {
  font-family: Merriweather;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.list-container {
  background-color: #FFC107;
}

.list-container input {
  outline: none;
  background-color: transparent;
  border: 0;
  padding-top: 8px;
  padding-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.content-container {
  margin: 10px;
}

.gym-header {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

.gym-info {
  padding: 12px;
}

.gym-list-item {
  font-weight: 700;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  outline: none;
}

.gym-list-item:hover {
  color:white;
}

.gym-clickable {
  cursor: pointer;
  outline: none;
}

.gym-add-exercise {
  padding-top: 40px;
}

.gym-dialog-list-item {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}

.icon-on-hover .material-icons {
  visibility: hidden;
}
.icon-on-hover:hover .material-icons {
  visibility: visible;
}

.gym-comment {
  margin-left: 6px;
  font-style: italic;
  font-weight: 300;
}

.gym-wide-line {
  border-bottom: 1px solid black;
  opacity: 0.2;
}

.gym-space {
  margin-left: 16px;
  margin-right: 16px;
}

.gym-delete {
  min-height: 10px !important;
  line-height: 10px !important;
}

.gym-delete:hover {
  color: white;
}

.gym-button {
  outline: none;
  cursor: pointer;
  color: black;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
}

.gym-icon-big {
  font-size: 26px !important;
}

.gym-with-margin {
  margin: 10px;
}

.gym-button:hover {
  color:white;
}

.gym-icon-text {
  margin-right: 3px;
  padding-top: 2px;
}

.gym-card {
  background-color: #FFB300;
}

.gym-card .material-icons {
  font-size: 34px;
  cursor: pointer;
  outline: none;
  padding: 5px;
}
.gym-card .material-icons:hover {
  color: white;
}


.gym-delete-serie-container {
  align-self: flex-end;
  padding: 10px;
}

.gym-card-title {
  padding-bottom: 0px;
  padding-top: 16px;
}

.gym-card-actions {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gym-serie-label {
  font-size: 18px !important;
  margin-top: -45px;
}

.gym-grey-label {
  margin-bottom: 0px;
  color: rgba(0,0,0,0.54);
}

.pattern-exercise {
  position: relative;
}
.pattern-exercise .material-icons{
  position: absolute;
  top: 8px;
}
.clear-container {
  outline: none;
}

.gym-nav-icon {
  font-size: 28px !important;
  padding-right: 12px;
  padding-left: 12px;
  outline: none;
  cursor: pointer;
}
.gym-nav-icon:hover {
  color: white;
}

.gym-red-button {
  width: 50%;
  align-self: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #b20000;
  color: white;
  font-weight: 500;
  padding: 4px;
  margin: 5px;
  border-radius: 3px;
}

.gym-red-button:hover {
  background-color: #cc0000;

}

.gym-green-button {
  width: 70%;
  align-self: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #4CAF50;
  color: white;
  font-weight: 500;
  padding: 4px;
  margin: 15px;
  border-radius: 3px;
}
.gym-green-button:hover {
  background-color: #5db761;
}
.gym-positive {
  color: #4CAF50 !important;
}
.gym-positive:hover {
  color: #6fbf72 !important;
}
.gym-negative {
  color: #b20000 !important;
}
.gym-negative:hover  {
  color: #cc0000 !important;
}

.gym-datepicker-day {
  min-width: 30px !important;
  border-radius: 45px !important;
}
.gym-datepicker-day-null {
  cursor: default !important;
  background: transparent !important;
}
.gym-datepicker-day-taken {
  background: #4CAF50 !important;
}
.gym-datepicker-weekdays {
  width: 100%;
  padding-right: 14px;
}